body {
    max-width: 1000px;
}

table {
  table-layout: auto;
}

.htmx-settling {
  background: var(--focus);
}

tr {
  transition: all 1.2s;
}

td span {
    padding: 3px;
    border-radius: 10%;
}

span.error {
    background: lightpink;
    color: brown;
}

span.warn {
    background: lightyellow;
    color: goldenrod;
}

span.ok {
    background: palegreen;
    color: green;
}

span.info {
    background: aliceblue;
    color: cornflowerblue;
}
