{{- /* TODO: figure out proper "inheritance" model for nesting templates? */ -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Tracker</title>
    <link rel="stylesheet" href="/static/water.css">
    <link rel="stylesheet" href="/static/custom.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="/static/htmx.min.js"></script>
    <script defer data-domain="tailscale-demo.simpsonian.ca" src="https://treebeard.tailaf9b3.ts.net/js/script.js"></script>
  </head>
  <body>
